{% extends 'base/main.html' %}
{% block content %}

<!-- HEADER -->
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse justify-content-md-center">
                <a class="navbar-brand" href="#">
                    {% load static %}
                    <img src="{% static 'base/images/ibooks.png' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                    Guestbook
                </a>
            </div>
        </div>
    </nav>
</header>

<!-- BODY -->
<main>
    <div class="container">
        <div class="row">

            <!-- COLUMN #1 -->
            <div class="col-md-8 col-xs-12 messages">

                {% for message in messages %}
                    <!-- MESSAGE -->
                    <div class="card">
                        <div class="card-header">
                            {{message.user}}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{message.text}}</h5>
                        </div>
                    </div>
                {% endfor %}
                
            </div>

            <!-- COLUMN #2 -->
            <div class="col-md-4 col-xs-12">
                <div class="modal-body p-5 pt-0">
                    
                    <!-- SIGN UP -->
                    <form>
                        {% if request.user.is_authenticated %}
                            <p>Hello, {{user.username}} 👋🏻</p>
                            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign out</button>
                        {% else %}
                            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Sign in</button>
                            <button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Register</button>
                        {% endif %}
                    </form>

                    <hr class="my-4">

                    <!-- SEND MESSAGE -->
                    <form>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" placeholder="Message text" id="floatingTextarea"></textarea>
                            <label for="floatingTextarea">Message</label>
                        </div>
                        <button class="w-100 mb-2 btn btn-success btn-lg rounded-4 btn-primary" type="submit">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- FOOTER -->
<footer>
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <p class="col-md-4 mb-0 text-muted">© 2022 shmd001</p>
    
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                {% load static %}
                <img src="{% static 'base/images/ibooks.png' %}" alt="" width="40" height="40">
            </a>
        </footer>
    </div>
</footer>

{% endblock content %}